/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Main Styling */
#root {
  min-height: 100vh;
  width: 100%;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

    li {
      a {
        display: block;
        color: currentColor;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
          color: currentColor;
          background-color: #111;
        }

        &.active {
          background-color: #403eb8;
        }
      }

      &.primary {
        float: left;
      }

      &.secondary {
        float: right;
      }
    }
  }
}

main {
  /* Offset to account for navbar */
  padding: 5% 10% 0% 10%;
  min-height: 100vh;
}

.recipe {
  .summary {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid;
    min-width: 0;

    .title {
      flex: 40%;
      padding: 2em;

      h1 {
        margin: 0;
      }
    }

    .meta {
      flex: 60%;
      padding: 2em;

      dl {
        margin: 0;
        display: grid;
        grid-template-columns: max-content auto;
      }

      dt {
        grid-column-start: 1;
        font-weight: bold;

        &:after {
          content: ":";
        }
      }

      dd {
        grid-column-start: 2;
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    .ingredients {
      flex: 40%;
      padding: 2em;
    }

    .steps {
      flex: 60%;
      padding: 2em;
    }
  }
}

.page-title {
  padding: 2em;

  h1 {
    margin: 0;
  }
}

.recipe-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 33%;
    padding: 2em;
  }

  .recipe-card {
    .title {
      padding: 2em;
    }

    dl {
      margin: 0;
      display: grid;
      grid-template-columns: max-content auto;
    }

    dt {
      grid-column-start: 1;
      font-weight: bold;

      &:after {
        content: ":";
      }
    }

    dd {
      grid-column-start: 2;
    }
  }
}

form.recipe {
  .title {
    input {
      width: 100%;
    }

    .description {
      textarea {
        width: 100%;
      }
    }
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .ingredients {
    .ingredient {
      div {
        display: flex;
      }

      p {
        display: flex;
        flex-wrap: wrap;
      }

      input {
        width: 100%;
        min-width: 100px;
        flex: 1;
      }

      select {
        width: 100%;
        min-width: 100px;
        flex: 1;
      }
    }
  }

  .steps {
    .step {
      margin-bottom: 1em;

      textarea {
        width: 100%;
        vertical-align: top;
      }
    }
  }
}
